
.image-container {
    border-radius: 15px; 
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  
 
  .hover-effect:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; 
  }
  