  
  .about .icon-box {
    margin-top: 20px;
  }
  
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #b9d4ec;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon {
    background: #428bca;
    border-color: #428bca;
  }
  
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
    color: #428bca;
  }

  

