a {
  font-size:14px;
  font-weight:700
}
.superNav {
  font-size:13px;
}
.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}



  .whatwedoContainer .whatwedoItem{
    background: #fff;
    border-radius:5px;
    padding:10px;
    margin-bottom: 20px;
    min-height:180px
  }
  .whatwedoContainer img{
    padding-bottom: 20px
  }
  .whatwedoContainer h4{
    padding-bottom: 20px;
    font-size: 16px!important;
    line-height: 1.7
  }
